<div class="container">

  <% if current_user %>

    <h1> Welcome <%=current_user.name%>! </h1>

    <p>
    See <a href="enginecompanyone/videos">a few ads </a> from Matt's previous employer Engine Company 1!
    </p>

    <p>
      See a few of Matt's <a href="mattbarackman/likes"> favorite videos</a>!
    </p>

    <p>
      See a couple recent videos tagged with <a href="dubstep/videos"> dubstep</a>!
    </p>
  
  <% else %>
  
    <h1> Welcome! </h1>
  
  <% end %>
</div>